main.py
mods/carpet-extra-1.19.3-1.4.91.jar
mods/fabric-api-0.75.1+1.19.3.jar
mods/fabric-carpet-1.19.3-pre1-1.4.99+v230222.jar
mods/ferritecore-5.1.0-fabric.jar
mods/InventorySorter-1.8.10-1.19.3.jar
mods/Invsee.jar
mods/lazydfu-0.1.3.jar
mods/lithium-fabric-mc1.19.3-0.10.4.jar
mods/starlight-1.1.1+fabric.ae22326.jar