main.py
carpet-extra-1.19.3-1.4.91.jar
fabric-api-0.75.1+1.19.3.jar
fabric-carpet-1.19.3-pre1-1.4.99+v230222.jar
ferritecore-5.1.0-fabric.jar
InventorySorter-1.8.10-1.19.3.jar
Invsee.jar
lazydfu-0.1.3.jar
lithium-fabric-mc1.19.3-0.10.4.jar
starlight-1.1.1+fabric.ae22326.jar